extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') Назва жанру:
      input#name.form-control(type='text', placeholder='Фантастика, Поезія тощо.' name='name' value=(undefined===genre ? '' : genre.name))
    button.btn.btn-primary(type='submit') Надіслати

  if errors
    ul
      for error in errors
        li!= error.msg