extends layout

//- This is a single-line comment
//- This template displays a title and a list of items

//- 
  This is a multi-line comment
  It describes the template structure:
  - Extends base layout
  - Shows title in h1
  - Displays items in ul/li
  - Uses custom styles

block content
  h1= title
  p This page is displayed using Pug.
  
  ul
    each item in items
      li= item